# Ignore video files
*.mp4
*.avi
*.mov

# Ignore folders
input_videos/
outputs/
tracker_stub/
data/
combined_dataset/
runs/
models/
downloaded_youtube_videos/
assets/
tennis_ball_dataset_1/
tennis_ball_dataset_2/
combined_tennis_ball_dataset/

# Python cache and environments
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
.venv/
